# .gitignore

# Standard Python ignores
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
*.log
*.swp
*.swo
*.swn
*.sqlite3
*.pid
*.retry
*.bak
*.bak.*
*.tmp
*.tmp.*
*.temp
*.temp.*
*.log.*
*.log
*.log.*
*.log
*.pyc
*.pytest_cache
*.pytype
*.hypothesis
*.nox
*.mypy_cache
*.cover
.coverage
htmlcov/
.env
.venv/
venv/
*.prof
*.csv
*.tsv
*.json
*.yml
*.xml
*.yaml
*.text
*.txt
*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints/*

# Exclude .xls and .xlsx files
*.xls
*.xlsx

# Exclude files starting with "live-"
live-*

